<div id="popup" class="popup">
    <div class="logo-pop">
        <img class="img_logo_Principal" src="https://www.lycee-louis-vincent.fr/images/icons/puddingcam-logo.png" alt="logo">
        <h1>CAMAGRU</h1>
    </div>
    <hr>
    <div id="waiting" class="waiting">
        Un Mail viens de vous etre envoye ...
        <hr>
    </div>
    <div id="login" class="login">
        Bienvenue ^^login^^
    </div>
    <div id="mail_confirm" class="mail_confirm">
        un email de reinitialisation de mot de passe viens vous etre envoyer a
        l'adresse :
        <div class ="mail_reinit2">^^email^^</div>
    </div>
    <div id="mess-redirection" class='form_error2'>
        Retour vers l'accueil dans <span id="compt"></span>...
    </div>
</div>
<div id="overlay" class="overlay"></div>