/* line 1, ../sass/404Style.scss */
.hero-unit {
  display: block;
  position: relative;
  top: -25%; }

/* line 7, ../sass/404Style.scss */
h1 {
  display: block;
  position: relative;
  margin-top: 6%;
  text-align: center; }

/* line 14, ../sass/404Style.scss */
.title {
  display: block;
  width: 100%;
  position: relative;
  left: 22%; }

/* line 21, ../sass/404Style.scss */
.title img {
  position: relative;
  width: 55%; }

/* line 26, ../sass/404Style.scss */
.error {
  display: block;
  position: relative;
  color: whitesmoke;
  text-align: center; }
