/* line 9, ../sass/accueilStyle.scss */
body {
  height: 100%;
  background-image: url(../images/backgroundAccueilGiphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Cabin Sketch', cursive;
  color: #f3f3f3;
  font-size: 2.5vw; }

/* line 20, ../sass/accueilStyle.scss */
.container {
  display: block;
  position: relative;
  margin-top: 5%;
  margin-left: 150px; }

/* line 27, ../sass/accueilStyle.scss */
hr {
  color: #F39237;
  background-color: #F39237;
  border: none;
  height: 0.2vw; }

/* line 34, ../sass/accueilStyle.scss */
.accueil_form {
  position: relative;
  margin-left: 24%;
  width: 65%;
  max-width: 55%;
  /*max-height: 400px;*/
  background-color: rgba(94, 108, 120, 0.7);
  text-align: center;
  box-shadow: 0px 0px 1px #00223e; }

/* line 45, ../sass/accueilStyle.scss */
.containerForm {
  margin-left: 10%;
  max-width: 80%; }

/* line 50, ../sass/accueilStyle.scss */
textarea, select {
  padding: 3px;
  border: 1px solid #222222;
  border-radius: 5px;
  width: 60%;
  height: 150%;
  box-shadow: 1px 0px 5px #222222 inset;
  font-family: 'Cairo', sans-serif; }

/* line 60, ../sass/accueilStyle.scss */
.paswrd_accueil_but {
  margin-top: 15px; }

/* line 64, ../sass/accueilStyle.scss */
.forgetPass a {
  color: #f3f3f3;
  display: block;
  text-decoration: none;
  font-size: 1.2vw; }

/* line 71, ../sass/accueilStyle.scss */
.forgetPass:hover {
  color: indianred; }

/* line 75, ../sass/accueilStyle.scss */
.registered {
  color: #f3f3f3;
  display: block;
  text-decoration: none; }

/* line 81, ../sass/accueilStyle.scss */
.registered:hover {
  color: indianred; }

/* line 85, ../sass/accueilStyle.scss */
.footer {
  height: 45px; }

/* line 89, ../sass/accueilStyle.scss */
.forget_but {
  font-size: 1.5vw; }
