/* line 4, ../sass/form.scss */
form input {
  color: #006796;
  text-align: center;
  width: 57%;
  font-size: 1em;
  border: solid 1px rgba(202, 82, 4, 0.14);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzNWMwNSIgc3RvcC1vcGFjaXR5PSIwLjE0Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2E1MjA0IiBzdG9wLW9wYWNpdHk9IjAuMTQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(227, 92, 5, 0.14)), color-stop(100%, rgba(202, 82, 4, 0.14)));
  background-image: -moz-linear-gradient(top, rgba(227, 92, 5, 0.14), rgba(202, 82, 4, 0.14));
  background-image: -webkit-linear-gradient(top, rgba(227, 92, 5, 0.14), rgba(202, 82, 4, 0.14));
  background-image: linear-gradient(to bottom, rgba(227, 92, 5, 0.14), rgba(202, 82, 4, 0.14)); }

/* line 14, ../sass/form.scss */
.popup {
  display: block;
  -moz-box-shadow: 0px 0px 10px #7f3403;
  -webkit-box-shadow: 0px 0px 10px #7f3403;
  box-shadow: 0px 0px 10px #7f3403;
  position: absolute;
  background: #5e6c78;
  width: 98%;
  height: 115%;
  padding: 10px;
  right: 20px;
  z-index: 1;
  left: 0%;
  top: 0%; }

/* line 28, ../sass/form.scss */
.popup .overlay {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: black;
  z-index: 0;
  opacity: .5; }

/* line 40, ../sass/form.scss */
.popup .waiting {
  padding-bottom: 15px; }

/* line 44, ../sass/form.scss */
.popup .login {
  font-family: 'Raleway', cursive;
  font-size: 1.3vw;
  color: #F39237;
  padding-bottom: 55px; }

/* line 51, ../sass/form.scss */
.popup .text {
  font-family: 'Cabin Sketch', cursive;
  color: #f3f3f3;
  font-size: 1.5vw; }

/* line 57, ../sass/form.scss */
.popup .mail {
  font-family: 'Raleway', cursive;
  font-size: 1.3vw;
  color: #F39237;
  padding-top: 5%;
  padding-bottom: 10%; }

/* line 65, ../sass/form.scss */
.popup .mail_reinit {
  color: #e35c05;
  padding-top: 5%;
  padding-bottom: 20%; }

/* line 71, ../sass/form.scss */
.popup .mail_reinit2 {
  font-family: 'Raleway', cursive;
  font-size: 1.3vw;
  color: #F39237;
  padding-top: 5%;
  padding-bottom: 11%; }

/* line 79, ../sass/form.scss */
.popup .text {
  padding-bottom: 4%; }

/* line 83, ../sass/form.scss */
.popup .buttons-reinit {
  display: inline-block; }

/* line 87, ../sass/form.scss */
.form_error, .form_error_register {
  position: relative;
  background: indianred;
  color: snow;
  padding-top: 6px;
  padding-bottom: 10px;
  font-family: 'Raleway', cursive;
  font-size: 1em; }

/* line 97, ../sass/form.scss */
.form_error2 {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  background: indianred;
  color: snow;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: 'Raleway', cursive;
  font-size: 1.5vw; }

/* line 110, ../sass/form.scss */
.connect {
  font-size: 2vw;
  color: #006796;
  display: block;
  text-decoration: none; }

/* line 117, ../sass/form.scss */
.connect:hover {
  color: indianred; }

/* line 121, ../sass/form.scss */
.a-connect {
  font-size: 1vw; }

/* line 126, ../sass/form.scss */
.logo-pop {
  margin: 0% auto;
  padding-top: 5px;
  display: block;
  position: relative;
  width: 80%;
  margin-bottom: 3%; }

@keyframes explode {
  0% {
    height: 0px; }
  25% {
    height: 22px; }
  50% {
    height: 42px; }
  100% {
    height: 62px; } }
/* line 24, ../sass/AppStyle.scss */
html, body {
  height: 100%;
  line-height: 1.4;
  padding: 0;
  margin: 0; }

/* line 31, ../sass/AppStyle.scss */
.site-container {
  height: 100%; }
  /* line 34, ../sass/AppStyle.scss */
  .site-container .site-pusher {
    height: 100%; }
    /* line 37, ../sass/AppStyle.scss */
    .site-container .site-pusher .header {
      top: 0;
      position: fixed;
      left: 0;
      right: 0;
      height: 66px;
      line-height: 66px;
      z-index: 10;
      background-color: #F39237; }
      /* line 47, ../sass/AppStyle.scss */
      .site-container .site-pusher .header .header__logo {
        background-color: #e35c05;
        font-size: 25px;
        font-weight: bold;
        float: left;
        padding: 0 25px;
        text-decoration: none;
        color: inherit;
        border-right: 1px solid #e35c05; }
        /* line 57, ../sass/AppStyle.scss */
        .site-container .site-pusher .header .header__logo img {
          width: 100%; }
      /* line 62, ../sass/AppStyle.scss */
      .site-container .site-pusher .header .menu {
        float: left; }
        /* line 65, ../sass/AppStyle.scss */
        .site-container .site-pusher .header .menu a {
          text-decoration: none;
          color: inherit;
          padding: 0 35px;
          border-right: 1px solid #e35c05; }
          /* line 71, ../sass/AppStyle.scss */
          .site-container .site-pusher .header .menu a:hover {
            color: #e35c05; }
    /* line 77, ../sass/AppStyle.scss */
    .site-container .site-pusher .post {
      overflow: hidden;
      *zoom: 1;
      padding-top: 66px;
      height: 100%; }
      /* line 82, ../sass/AppStyle.scss */
      .site-container .site-pusher .post .bienvenue {
        text-align: center; }
      /* line 86, ../sass/AppStyle.scss */
      .site-container .site-pusher .post .elems-app {
        position: relative;
        margin: 0% auto; }
        /* line 90, ../sass/AppStyle.scss */
        .site-container .site-pusher .post .elems-app .video-containter {
          display: inline-flex;
          position: relative;
          margin: 0% auto;
          width: 100%;
          padding: 0;
          /* Filtres */
          /* Camera */
          /* Preview photos */ }
          /* line 98, ../sass/AppStyle.scss */
          .site-container .site-pusher .post .elems-app .video-containter .container-all-filters {
            display: flex;
            margin-left: 120px;
            margin-right: -160px;
            /* Filtres sur image */
            /* Objets */ }
            /* line 104, ../sass/AppStyle.scss */
            .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .filters {
              position: relative;
              margin: 0% auto;
              margin-right: 200px;
              width: 350px;
              height: 80px;
              background: rgba(94, 108, 120, 0.9);
              border: 10px solid #535f6a; }
              /* line 113, ../sass/AppStyle.scss */
              .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .filters .filterHideButton {
                position: relative;
                cursor: pointer;
                margin: 0% auto;
                height: 100px; }
                /* line 119, ../sass/AppStyle.scss */
                .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .filters .filterHideButton img {
                  width: 50px;
                  display: inline-block;
                  position: relative;
                  top: 15px;
                  margin-left: 60px;
                  margin-right: 30px; }
                /* line 128, ../sass/AppStyle.scss */
                .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .filters .filterHideButton .textFilter {
                  display: inline-block;
                  position: relative;
                  margin: 0% auto; }
                /* line 134, ../sass/AppStyle.scss */
                .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .filters .filterHideButton:hover {
                  filter: invert(100%);
                  transition-duration: 5s;
                  filter: hue-rotate(360deg); }
                  /* line 139, ../sass/AppStyle.scss */
                  .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .filters .filterHideButton:hover p {
                    filter: invert(100%);
                    transition-duration: 1s; }
              /* line 146, ../sass/AppStyle.scss */
              .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .filters a:hover {
                color: #e35c05; }
              /* line 150, ../sass/AppStyle.scss */
              .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .filters .menu2 {
                display: none;
                position: relative;
                margin-top: -13px; }
                /* line 155, ../sass/AppStyle.scss */
                .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .filters .menu2 .button {
                  animation-duration: 0.5s;
                  position: relative;
                  padding: 0;
                  padding-top: 18px;
                  margin: 0px auto;
                  width: 350px;
                  height: 65px;
                  font-size: 35px;
                  text-align: center; }
              /* line 168, ../sass/AppStyle.scss */
              .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .filters .filters__icon {
                cursor: pointer;
                width: 65px; }
              /* line 174, ../sass/AppStyle.scss */
              .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .filters .filters-button .button {
                margin-top: 0; }
            /* line 181, ../sass/AppStyle.scss */
            .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .objets-filter {
              position: relative;
              margin: 0% auto;
              margin-left: 0px;
              width: 350px;
              height: 80px;
              background: rgba(94, 108, 120, 0.9);
              border: 10px solid #535f6a;
              /* container hide Objets */
              /* all objets */ }
              /* line 191, ../sass/AppStyle.scss */
              .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .objets-filter .objHideButton {
                position: relative;
                cursor: pointer;
                margin: 0px auto;
                height: 100px; }
                /* line 197, ../sass/AppStyle.scss */
                .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .objets-filter .objHideButton .objets__icon {
                  display: inline-block;
                  position: relative;
                  width: 50px;
                  top: 15px;
                  margin-left: 60px;
                  margin-right: 30px; }
                /* line 206, ../sass/AppStyle.scss */
                .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .objets-filter .objHideButton .textObjFilter {
                  display: inline-block;
                  position: relative;
                  margin: 0% auto; }
                /* line 213, ../sass/AppStyle.scss */
                .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .objets-filter .objHideButton:hover {
                  filter: invert(100%);
                  transition-duration: 5s;
                  filter: hue-rotate(360deg); }
                  /* line 218, ../sass/AppStyle.scss */
                  .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .objets-filter .objHideButton:hover p {
                    filter: invert(100%);
                    transition-duration: 1s; }
              /* line 226, ../sass/AppStyle.scss */
              .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .objets-filter .menu-objets {
                margin-top: -13px; }
                /* line 229, ../sass/AppStyle.scss */
                .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .objets-filter .menu-objets .objets-button {
                  position: relative;
                  margin-top: 3px;
                  padding: 0%;
                  margin: 0% auto;
                  height: 850px;
                  overflow-y: scroll;
                  overflow-x: hidden; }
                  /* line 238, ../sass/AppStyle.scss */
                  .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .objets-filter .menu-objets .objets-button .button {
                    animation-duration: 0.5s;
                    position: relative;
                    padding: 0;
                    margin: 0% auto;
                    margin-top: 0;
                    width: 350px;
                    height: 80px;
                    font-size: 20px;
                    text-align: center;
                    padding-top: 20px;
                    padding-bottom: 60px; }
                    /* line 251, ../sass/AppStyle.scss */
                    .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .objets-filter .menu-objets .objets-button .button img {
                      position: relative;
                      margin: 0px auto;
                      padding-top: 20px;
                      width: 30%; }
                  /* line 259, ../sass/AppStyle.scss */
                  .site-container .site-pusher .post .elems-app .video-containter .container-all-filters .objets-filter .menu-objets .objets-button .button-none {
                    font-size: 35px;
                    padding-top: 48px;
                    width: 350px;
                    height: 50px; }
          /* line 273, ../sass/AppStyle.scss */
          .site-container .site-pusher .post .elems-app .video-containter .booth {
            position: relative;
            display: inline-block;
            width: 1280px;
            background: rgba(94, 108, 120, 0.9);
            border: 10px solid #535f6a;
            margin: 0px auto;
            z-index: 5;
            padding: 0px;
            left: -265px; }
            /* line 285, ../sass/AppStyle.scss */
            .site-container .site-pusher .post .elems-app .video-containter .booth .img-enlarge {
              width: 1280px;
              height: 1030px; }
            /* line 291, ../sass/AppStyle.scss */
            .site-container .site-pusher .post .elems-app .video-containter .booth .close-enlarge {
              position: absolute;
              top: 20px;
              left: 1220px;
              width: 40px;
              cursor: pointer; }
              /* line 298, ../sass/AppStyle.scss */
              .site-container .site-pusher .post .elems-app .video-containter .booth .close-enlarge:hover {
                filter: invert(100%);
                filter: hue-rotate(360deg);
                transition-duration: 1s;
                width: 80px;
                left: 1190px;
                top: 10px; }
            /* line 308, ../sass/AppStyle.scss */
            .site-container .site-pusher .post .elems-app .video-containter .booth .imgUpload {
              width: 1280px;
              max-height: 960px;
              margin-bottom: 20px; }
            /* line 314, ../sass/AppStyle.scss */
            .site-container .site-pusher .post .elems-app .video-containter .booth video {
              transform: scaleX(-1);
              width: 1280px;
              height: 960px; }
            /* line 320, ../sass/AppStyle.scss */
            .site-container .site-pusher .post .elems-app .video-containter .booth hr {
              margin-left: -329px;
              padding-left: 698px;
              color: #e9780e;
              background-color: #e9780e; }
            /* line 327, ../sass/AppStyle.scss */
            .site-container .site-pusher .post .elems-app .video-containter .booth .buttonActionApp {
              display: none;
              position: relative;
              width: 100%;
              height: 90px;
              margin: 0% auto;
              margin-bottom: -30px; }
              /* line 336, ../sass/AppStyle.scss */
              .site-container .site-pusher .post .elems-app .video-containter .booth .buttonActionApp .action-app {
                display: inline-block;
                margin: 0px auto;
                width: 100%; }
                /* line 341, ../sass/AppStyle.scss */
                .site-container .site-pusher .post .elems-app .video-containter .booth .buttonActionApp .action-app .take-photo {
                  position: relative;
                  margin: 0px auto; }
                  /* line 345, ../sass/AppStyle.scss */
                  .site-container .site-pusher .post .elems-app .video-containter .booth .buttonActionApp .action-app .take-photo .take-photo-img {
                    position: relative;
                    margin: 0% auto;
                    padding: 0;
                    width: 50px;
                    cursor: pointer;
                    left: 550px; }
                    /* line 353, ../sass/AppStyle.scss */
                    .site-container .site-pusher .post .elems-app .video-containter .booth .buttonActionApp .action-app .take-photo .take-photo-img:hover {
                      border-radius: 60%;
                      transition-duration: 1s; }
                  /* line 359, ../sass/AppStyle.scss */
                  .site-container .site-pusher .post .elems-app .video-containter .booth .buttonActionApp .action-app .take-photo .startbuttonUpload {
                    display: none;
                    position: relative;
                    top: -5px;
                    margin: 0% auto;
                    padding: 0;
                    width: 50px;
                    cursor: pointer;
                    left: 525px; }
                    /* line 369, ../sass/AppStyle.scss */
                    .site-container .site-pusher .post .elems-app .video-containter .booth .buttonActionApp .action-app .take-photo .startbuttonUpload:hover {
                      border-radius: 60%;
                      transition-duration: 1s; }
                /* line 376, ../sass/AppStyle.scss */
                .site-container .site-pusher .post .elems-app .video-containter .booth .buttonActionApp .action-app .img-booth, .site-container .site-pusher .post .elems-app .video-containter .booth .buttonActionApp .action-app .canvas {
                  display: none; }
              /* line 383, ../sass/AppStyle.scss */
              .site-container .site-pusher .post .elems-app .video-containter .booth .buttonActionApp .upload-app .input-file-container {
                margin: 0px auto;
                position: relative;
                right: 520px;
                top: -5px; }
                /* line 389, ../sass/AppStyle.scss */
                .site-container .site-pusher .post .elems-app .video-containter .booth .buttonActionApp .upload-app .input-file-container .input-file {
                  display: none; }
                /* line 393, ../sass/AppStyle.scss */
                .site-container .site-pusher .post .elems-app .video-containter .booth .buttonActionApp .upload-app .input-file-container .input-file-trigger {
                  position: relative;
                  cursor: pointer;
                  width: 52px; }
                  /* line 398, ../sass/AppStyle.scss */
                  .site-container .site-pusher .post .elems-app .video-containter .booth .buttonActionApp .upload-app .input-file-container .input-file-trigger:hover {
                    border-radius: 60%;
                    transition-duration: 1s;
                    filter: hue-rotate(360deg); }
                /* line 405, ../sass/AppStyle.scss */
                .site-container .site-pusher .post .elems-app .video-containter .booth .buttonActionApp .upload-app .input-file-container .back-to-video {
                  display: none;
                  position: relative;
                  cursor: pointer;
                  width: 50px;
                  left: 135px;
                  top: -65px; }
                  /* line 413, ../sass/AppStyle.scss */
                  .site-container .site-pusher .post .elems-app .video-containter .booth .buttonActionApp .upload-app .input-file-container .back-to-video:hover {
                    filter: invert(100%);
                    transition-duration: 1s;
                    filter: hue-rotate(360deg); }
              /* line 423, ../sass/AppStyle.scss */
              .site-container .site-pusher .post .elems-app .video-containter .booth .buttonActionApp .container-enlarge {
                display: inline-block;
                z-index: 50;
                width: 1280px;
                height: 960px; }
                /* line 429, ../sass/AppStyle.scss */
                .site-container .site-pusher .post .elems-app .video-containter .booth .buttonActionApp .container-enlarge .img-enlarge {
                  margin-bottom: -56px; }
            /* line 435, ../sass/AppStyle.scss */
            .site-container .site-pusher .post .elems-app .video-containter .booth .chooseFilter {
              padding-top: 20px;
              position: relative;
              bottom: 55px;
              text-align: center;
              font-size: 30px;
              margin-bottom: -50px; }
            /* line 444, ../sass/AppStyle.scss */
            .site-container .site-pusher .post .elems-app .video-containter .booth .file-upload {
              margin: 0px auto;
              position: relative;
              text-align: center;
              font-size: 20px;
              left: 0px;
              background-color: indianred; }
          /* line 456, ../sass/AppStyle.scss */
          .site-container .site-pusher .post .elems-app .video-containter .prev-img {
            display: none;
            background: #535f6a;
            border: 10px solid #48525b;
            margin-left: -510px;
            margin-right: 90px;
            max-height: 1032px;
            width: 360px; }
            /* line 465, ../sass/AppStyle.scss */
            .site-container .site-pusher .post .elems-app .video-containter .prev-img .container-prev {
              position: relative;
              margin: 0px auto;
              background: linear-gradient(to bottom right, #ca5204, #fce1c7);
              border: 2px solid #48525b;
              padding-top: 20px;
              margin-top: -1px;
              margin-left: -5px; }
            /* line 476, ../sass/AppStyle.scss */
            .site-container .site-pusher .post .elems-app .video-containter .prev-img img {
              display: block;
              width: 300px;
              margin-left: 30px;
              margin-top: 2px;
              margin-right: 27px;
              margin-bottom: 10px; }
            /* line 485, ../sass/AppStyle.scss */
            .site-container .site-pusher .post .elems-app .video-containter .prev-img .prev-action {
              position: relative;
              top: 20px; }
              /* line 489, ../sass/AppStyle.scss */
              .site-container .site-pusher .post .elems-app .video-containter .prev-img .prev-action .del-button {
                left: 275px;
                cursor: pointer;
                display: inline-block;
                position: absolute;
                width: 28px;
                top: -26px; }
                /* line 497, ../sass/AppStyle.scss */
                .site-container .site-pusher .post .elems-app .video-containter .prev-img .prev-action .del-button:hover {
                  filter: invert(100%);
                  filter: hue-rotate(360deg);
                  transition-duration: 1s;
                  width: 40px;
                  left: 270px;
                  top: -30px; }
              /* line 507, ../sass/AppStyle.scss */
              .site-container .site-pusher .post .elems-app .video-containter .prev-img .prev-action .div-namePhoto {
                display: inline-block;
                position: relative;
                margin: 0px auto; }
                /* line 512, ../sass/AppStyle.scss */
                .site-container .site-pusher .post .elems-app .video-containter .prev-img .prev-action .div-namePhoto .name-photo {
                  display: inline-block;
                  position: absolute;
                  margin: 0px auto;
                  top: -46px;
                  left: 72px;
                  font-size: 18px;
                  font-style: italic;
                  text-align: center;
                  color: lightgrey; }
              /* line 525, ../sass/AppStyle.scss */
              .site-container .site-pusher .post .elems-app .video-containter .prev-img .prev-action .see-button {
                cursor: pointer;
                display: inline-block;
                margin-left: 19px;
                position: absolute;
                width: 28px;
                top: -28px;
                left: 10px; }
                /* line 534, ../sass/AppStyle.scss */
                .site-container .site-pusher .post .elems-app .video-containter .prev-img .prev-action .see-button:hover {
                  filter: invert(100%);
                  filter: hue-rotate(360deg);
                  transition-duration: 1s;
                  width: 40px;
                  left: 10px;
                  top: -30px; }

/* line 576, ../sass/AppStyle.scss */
.booth_filter {
  background: rgba(94, 108, 120, 0.9);
  border: 10px solid #535f6a;
  z-index: 5;
  width: 273px;
  height: 600px;
  display: inline-block;
  margin-left: 20%;
  margin-right: 52px; }

/* line 587, ../sass/AppStyle.scss */
.booth_prev {
  background: rgba(94, 108, 120, 0.9);
  border: 10px solid #535f6a;
  z-index: 5;
  width: 273px;
  height: 600px;
  display: inline-block;
  margin-left: 52px;
  margin-right: 20%; }

@media only screen and (max-width: 750px) {
  /* line 8, ../sass/menuResponsive.scss */
  .site-pusher, .site-container {
    height: 100%; }

  /* line 12, ../sass/menuResponsive.scss */
  .site-container {
    overflow: hidden; }

  /* line 16, ../sass/menuResponsive.scss */
  .site-pusher {
    height: 100%;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }

  /* line 21, ../sass/menuResponsive.scss */
  .post {
    padding-top: 0;
    overflow-y: scroll;
    position: absolute;
    top: 66px;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-overflow-scrolling: touch; }

  /* line 31, ../sass/menuResponsive.scss */
  header {
    position: static; }

  /* line 34, ../sass/menuResponsive.scss */
  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer; }
    /* line 43, ../sass/menuResponsive.scss */
    .header__icon:after {
      content: '';
      position: absolute;
      display: block;
      width: 1rem;
      height: 0%;
      top: 16px;
      left: 15px;
      -moz-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
      -webkit-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
      box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF; }

  /* line 55, ../sass/menuResponsive.scss */
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #f2851f;
    z-index: 1;
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px); }
    /* line 65, ../sass/menuResponsive.scss */
    .menu a {
      display: block;
      background-color: #f2851f;
      height: 50px;
      text-align: center;
      line-height: 50px;
      border-bottom: 1px solid #F39237; }

  /* line 76, ../sass/menuResponsive.scss */
  .width--sidebar .site-pusher {
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px); }
  /* line 79, ../sass/menuResponsive.scss */
  .width--sidebar .site-cache {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6); }

  /* line 89, ../sass/menuResponsive.scss */
  .video-containter {
    margin-left: -125px; }

  /* line 93, ../sass/menuResponsive.scss */
  .filters__icon {
    margin-left: 40px;
    margin-right: 15px; }
    /* line 94, ../sass/menuResponsive.scss */
    .filters__icon:hover {
      filter: invert(100%); }

  /* line 101, ../sass/menuResponsive.scss */
  .menu2 {
    display: none; }

  /* line 105, ../sass/menuResponsive.scss */
  .objets__icon {
    position: relative;
    left: -490px;
    top: 100px;
    width: 80px; }
    /* line 106, ../sass/menuResponsive.scss */
    .objets__icon:hover {
      filter: invert(100%); }

  /* line 115, ../sass/menuResponsive.scss */
  .menu-objets {
    display: none; }

  /* line 120, ../sass/menuResponsive.scss */
  .objets__icon .menu-objets {
    display: none; }
  /* line 123, ../sass/menuResponsive.scss */
  .objets__icon:hover {
    filter: invert(100%); }

  /* line 128, ../sass/menuResponsive.scss */
  video {
    height: auto; }

  /* line 132, ../sass/menuResponsive.scss */
  .prev-img {
    width: 99%; } }
