/* line 6, ../sass/AppStyle.scss */
html, body {
  height: 100%;
  line-height: 1.4;
  padding: 0;
  margin: 0; }

/* line 13, ../sass/AppStyle.scss */
.post {
  overflow: hidden;
  *zoom: 1;
  padding-top: 66px; }

/* line 18, ../sass/AppStyle.scss */
a {
  text-decoration: none;
  color: inherit; }

/* line 23, ../sass/AppStyle.scss */
.header {
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  z-index: 10;
  background-color: #F39237; }

/* line 34, ../sass/AppStyle.scss */
.header__logo {
  font-size: 25px;
  font-weight: bold;
  float: left;
  padding: 0 25px; }
  /* line 40, ../sass/AppStyle.scss */
  .header__logo img {
    width: 100%; }

/* line 45, ../sass/AppStyle.scss */
.menu {
  float: left; }
  /* line 48, ../sass/AppStyle.scss */
  .menu a {
    padding: 0 10px; }
  /* line 51, ../sass/AppStyle.scss */
  .menu a:hover {
    color: #e35c05; }

@media only screen and (max-width: 2250px) {
  /* line 57, ../sass/AppStyle.scss */
  .menu {
    font-size: 20px;
    float: left; }
    /* line 62, ../sass/AppStyle.scss */
    .menu a {
      padding: 0 10px; }
    /* line 65, ../sass/AppStyle.scss */
    .menu a:hover {
      color: #e35c05; } }
@media only screen and (max-width: 750px) {
  /* line 8, ../sass/menuResponsive.scss */
  .site-pusher, .site-container {
    height: 100%; }

  /* line 12, ../sass/menuResponsive.scss */
  .site-container {
    overflow: hidden; }

  /* line 16, ../sass/menuResponsive.scss */
  .site-pusher {
    height: 100%;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }

  /* line 21, ../sass/menuResponsive.scss */
  .post {
    padding-top: 0;
    overflow-y: scroll;
    position: absolute;
    top: 66px;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-overflow-scrolling: touch; }

  /* line 31, ../sass/menuResponsive.scss */
  header {
    position: static; }

  /* line 34, ../sass/menuResponsive.scss */
  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer; }
    /* line 43, ../sass/menuResponsive.scss */
    .header__icon:after {
      content: '';
      position: absolute;
      display: block;
      width: 1rem;
      height: 0%;
      top: 16px;
      left: 15px;
      -moz-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
      -webkit-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
      box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF; }

  /* line 55, ../sass/menuResponsive.scss */
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #f2851f;
    z-index: 1;
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px); }
    /* line 65, ../sass/menuResponsive.scss */
    .menu a {
      display: block;
      background-color: #f2851f;
      height: 50px;
      text-align: center;
      line-height: 50px;
      border-bottom: 1px solid #F39237; }

  /* line 76, ../sass/menuResponsive.scss */
  .width--sidebar .site-pusher {
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px); }
  /* line 79, ../sass/menuResponsive.scss */
  .width--sidebar .site-cache {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6); } }
/* line 73, ../sass/AppStyle.scss */
.video-containter {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative; }

/* line 81, ../sass/AppStyle.scss */
.booth {
  display: inline-block;
  width: 700px;
  background: rgba(94, 108, 120, 0.9);
  border: 10px solid #535f6a;
  margin: 0px auto;
  z-index: 5; }

/* line 91, ../sass/AppStyle.scss */
.img-booth, .canvas {
  display: none; }

/* line 95, ../sass/AppStyle.scss */
video {
  transform: scaleX(-1); }

@media only screen and (max-width: 750px) {
  /* line 100, ../sass/AppStyle.scss */
  video, .booth {
    width: 100%; }

  /* line 103, ../sass/AppStyle.scss */
  .bienvenue {
    font-size: 15px; } }
/* line 108, ../sass/AppStyle.scss */
.bienvenue {
  text-align: center; }

/* line 112, ../sass/AppStyle.scss */
.take-photo {
  margin: 0% auto;
  padding: 0;
  width: 40px;
  cursor: pointer; }
  /* line 117, ../sass/AppStyle.scss */
  .take-photo p {
    display: inline-block; }

/* line 122, ../sass/AppStyle.scss */
.booth_filter {
  background: rgba(94, 108, 120, 0.9);
  border: 10px solid #535f6a;
  z-index: 5;
  width: 273px;
  height: 600px;
  display: inline-block;
  margin-left: 20%;
  margin-right: 52px; }

/* line 134, ../sass/AppStyle.scss */
.filters {
  margin-left: 350px;
  margin-right: -650px; }
  /* line 137, ../sass/AppStyle.scss */
  .filters a:hover {
    color: #e35c05; }
  /* line 140, ../sass/AppStyle.scss */
  .filters img {
    margin-left: 115px; }

/* line 145, ../sass/AppStyle.scss */
.menu2 {
  display: flex; }
  /* line 147, ../sass/AppStyle.scss */
  .menu2 .button2 {
    width: 280px; }
  /* line 150, ../sass/AppStyle.scss */
  .menu2 input {
    margin-top: 5px;
    margin-bottom: 5px; }

/* line 156, ../sass/AppStyle.scss */
.booth_prev {
  background: rgba(94, 108, 120, 0.9);
  border: 10px solid #535f6a;
  z-index: 5;
  width: 273px;
  height: 600px;
  display: inline-block;
  margin-left: 52px;
  margin-right: 20%; }

/* line 168, ../sass/AppStyle.scss */
.prev-img {
  display: inline-flex;
  width: 695px;
  cursor: pointer;
  overflow-x: scroll; }
  /* line 175, ../sass/AppStyle.scss */
  .prev-img img {
    margin-right: 5px;
    margin-left: 5px; }

/* line 181, ../sass/AppStyle.scss */
.filters__icon {
  cursor: pointer; }
