@media only screen and (max-width: 2350px) {
  /* line 8, ../sass/galerieResponsive.scss */
  .site-container .site-pusher .post .container-galerie {
    margin-left: -4%; } }
@media only screen and (max-width: 2130px) {
  /* line 17, ../sass/galerieResponsive.scss */
  html {
    width: 150%; }

  /* line 24, ../sass/galerieResponsive.scss */
  .site-container .site-pusher .post .container-galerie {
    margin-left: 2%; }
    /* line 27, ../sass/galerieResponsive.scss */
    .site-container .site-pusher .post .container-galerie .container-img {
      max-width: 1930px; }
      /* line 31, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .photo-galerie {
        max-width: 800px;
        width: 800px; }
      /* line 36, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .galerie-login {
        max-width: 800px;
        font-size: medium; }
      /* line 43, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .container-login-date.left {
        left: -155px; }
      /* line 47, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .container-login-date.right {
        left: 152px; }
      /* line 57, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .hr-div.left {
        margin-left: 0px; }
      /* line 61, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .hr-div.right {
        margin-left: 303px; }
      /* line 71, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .comments.right {
        margin-left: 303px; }
      /* line 82, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message.right .hr-div.left {
        margin-left: 0px; }
      /* line 86, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message.right .hr-div.right {
        margin-left: 303px; }
      /* line 95, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .new-comments-container .input-comment-submit {
        margin-left: 310px; } }
@media only screen and (max-width: 1920px) {
  /* line 110, ../sass/galerieResponsive.scss */
  .site-container .site-pusher .post .container-galerie {
    margin-left: -2%; } }
@media only screen and (max-width: 1800px) {
  /* line 122, ../sass/galerieResponsive.scss */
  .site-container .site-pusher .post .container-galerie {
    margin-left: -8%; } }
@media only screen and (max-width: 1680px) {
  /* line 134, ../sass/galerieResponsive.scss */
  .site-container .site-pusher .post .container-galerie {
    width: 150%;
    margin: 0% auto;
    left: 15%; }
    /* line 140, ../sass/galerieResponsive.scss */
    .site-container .site-pusher .post .container-galerie .container-img {
      max-width: 900px; }
      /* line 144, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .photo-galerie {
        max-width: 800px;
        width: 800px; }
      /* line 149, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .galerie-login {
        max-width: 800px; }
      /* line 155, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .container-login-date.left {
        left: -155px; }
      /* line 159, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .container-login-date.right {
        left: 152px; }
      /* line 169, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .hr-div.left {
        margin-left: 0px; }
      /* line 173, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .hr-div.right {
        margin-left: 303px; }
      /* line 183, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .comments.right {
        margin-left: 303px; }
      /* line 194, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message.right .hr-div.left {
        margin-left: 0px; }
      /* line 198, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message.right .hr-div.right {
        margin-left: 303px; } }
@media only screen and (max-width: 1280px) {
  /* line 216, ../sass/galerieResponsive.scss */
  .site-container .site-pusher .post .container-galerie {
    margin-left: -16%;
    margin-right: 4%; } }
@media only screen and (max-width: 1000px) {
  /* line 229, ../sass/galerieResponsive.scss */
  .site-container .site-pusher .post .container-galerie {
    margin-left: -30%;
    margin-right: 16%; } }
@media only screen and (max-width: 850px) {
  /* line 242, ../sass/galerieResponsive.scss */
  .site-container .site-pusher .post .container-galerie {
    margin-left: -30%;
    margin-right: 16%; }
    /* line 248, ../sass/galerieResponsive.scss */
    .site-container .site-pusher .post .container-galerie .container-img .container-interact .photo-galerie {
      max-width: 500px; }
    /* line 252, ../sass/galerieResponsive.scss */
    .site-container .site-pusher .post .container-galerie .container-img .container-interact .galerie-login {
      max-width: 500px; }
    /* line 256, ../sass/galerieResponsive.scss */
    .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message {
      font-size: medium; }
      /* line 258, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .container-login-date {
        font-size: medium; }
        /* line 260, ../sass/galerieResponsive.scss */
        .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .container-login-date.left {
          left: -2px;
          padding-bottom: 3%;
          margin-bottom: 2.5%; }
        /* line 266, ../sass/galerieResponsive.scss */
        .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .container-login-date.right {
          left: 2px;
          margin-bottom: 14px; }
      /* line 272, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .hr-div {
        top: -12px;
        margin-bottom: 4px; }
        /* line 280, ../sass/galerieResponsive.scss */
        .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .hr-div.left {
          margin-left: 0px; }
        /* line 284, ../sass/galerieResponsive.scss */
        .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .hr-div.right {
          margin-left: 303px; }
      /* line 294, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .comments.right {
        margin-left: 2px; }
      /* line 305, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message.right .hr-div.left {
        margin-left: 0px; }
      /* line 309, ../sass/galerieResponsive.scss */
      .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message.right .hr-div.right {
        margin-left: 2px; }
    /* line 318, ../sass/galerieResponsive.scss */
    .site-container .site-pusher .post .container-galerie .container-img .new-comments-container .input-comment-submit {
      margin-left: 165px; } }
@media only screen and (max-width: 750px) {
  /* line 333, ../sass/galerieResponsive.scss */
  .site-container .site-pusher .post .container-galerie {
    margin-left: -35%;
    margin-right: 40%; } }
@media only screen and (max-width: 570px) {
  /* line 346, ../sass/galerieResponsive.scss */
  .site-container .site-pusher .post .container-galerie {
    margin-left: -225px;
    margin-right: 0px; }
    /* line 352, ../sass/galerieResponsive.scss */
    .site-container .site-pusher .post .container-galerie .container-img .container-interact .photo-galerie {
      max-width: 414px;
      width: 414px; }
    /* line 357, ../sass/galerieResponsive.scss */
    .site-container .site-pusher .post .container-galerie .container-img .container-interact .galerie-login {
      max-width: 414px; } }
@media only screen and (max-width: 414px) {
  /* line 372, ../sass/galerieResponsive.scss */
  .site-container .site-pusher .post .container-galerie {
    margin-left: -225px;
    margin-right: 0px; }
    /* line 380, ../sass/galerieResponsive.scss */
    .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .container-login-date.left {
      left: -155px; }
    /* line 384, ../sass/galerieResponsive.scss */
    .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .container-login-date.right {
      left: -9px; }
    /* line 394, ../sass/galerieResponsive.scss */
    .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .hr-div.left {
      margin-left: 0px; }
    /* line 398, ../sass/galerieResponsive.scss */
    .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .hr-div.right {
      margin-left: -9px; }
    /* line 408, ../sass/galerieResponsive.scss */
    .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message .comments.right {
      margin-left: -9px; }
    /* line 419, ../sass/galerieResponsive.scss */
    .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message.right .hr-div.left {
      margin-left: 0px; }
    /* line 423, ../sass/galerieResponsive.scss */
    .site-container .site-pusher .post .container-galerie .container-img .container-interact .container_message.right .hr-div.right {
      margin-left: 303px; } }
