/* line 1, ../sass/style.scss */
html {
  font-size: 2vw; }

/* line 5, ../sass/style.scss */
body {
  background-color: lightgrey; }

/* line 9, ../sass/style.scss */
.topbar {
  display: flex;
  position: relative;
  background-color: rgba(6, 45, 76, 0.32);
  box-shadow: 5px 3px 15px #00223e;
  border-radius: 15px;
  color: red;
  width: 100%;
  height: 10%; }

/* line 20, ../sass/style.scss */
.container, h3 {
  margin: 15px 15px; }

/* line 24, ../sass/style.scss */
.post {
  width: 60%;
  margin: 5% 25%;
  background-color: rgba(6, 45, 76, 0.32);
  box-shadow: 5px 3px 15px #00223e;
  border-radius: 15px;
  text-align: center; }
