html {
	font-size: 2vw;
}

body {
	background-color: lightgrey;
}

.topbar {
	display: flex;
	position: relative;
	background-color: rgba(6, 45, 76, 0.32);
    box-shadow: 5px 3px 15px rgb(0, 34, 62);
	border-radius: 15px;
    color: red;
    width: 100%;
    height: 10%;
}

.container, h3 {
	margin: 15px 15px;
}

.post {
	width: 60%;
	margin: 5% 25%;
	background-color: rgba(6, 45, 76, 0.32);
    box-shadow: 5px 3px 15px rgb(0, 34, 62);
	border-radius: 15px;
	text-align: center;
}