@import 'compass';
@import "colors";
@import "button_flat_input";
@import "button_flat_other";
@import "base";
@import "form";
@import "logo";


.container{
	display: block;
	position: relative;
    margin-top: 5%;
}

.accueil_form{
    font-size: 2.2em;
	position: relative;
	margin: 0 auto;
    width: 48%;
	max-width: 48%;
    min-width: 700px;
	background-color: rgba($color_back, 0.9);
	text-align: center;
	box-shadow: 0px 0px 1px rgb(0, 34, 62);
}

.containerForm{
  margin-left: 10%;
  max-width: 80%;
}

textarea, select {
	padding: 3px;
	border: 1px solid $color_text_black;
	border-radius: 5px;
	width: 60%;
	height: 150%;
	box-shadow: 1px 0px 5px $color_text_black inset;
	font-family: 'Cairo', sans-serif;
 }

.paswrd_accueil_but{
  margin-top: 15px; 
}

.forgetPass a{
	color: $color_text;
	display: block;
	text-decoration: none;
	font-size: 1.2vw;
}

.forgetPass:hover{
	color: $color_button_hover;
}

.registered{
	padding-bottom: 5%;
  color: $color_text;
  display: block;
  text-decoration: none;
}

.registered:hover{
  color: $color_button_hover;
}

.back-accueil{
	//padding-bottom: 5%;
	color: $color_text;
	display: block;
	text-decoration: none;
}

.back-accueil:hover{
	color: $color_button_hover;
}

.footer{
	height: 45px;
}

.forget_but{
	font-size: 1.5vw;
}
