@import 'compass';
@import 'colors';
@import "form";
@import "objStyle";

@media only screen and (max-width: 2340px){
    $width: 1000px;
    $height: 825px;

    .site-container {
        .site-pusher {
            .post {
                .elems-app {
                    .video-containter {
                        .booth {
                            width: $width;
                            height: $height;

                            .container-enlarge{
                                width: $width;
                                height: $height;

                                .img-enlarge{
                                    width: $width;
                                    height: $height;
                                }

                                .close-enlarge{
                                    left: 940px;

                                    &:hover{
                                        left: 935px;
                                        width: 60px;
                                    }
                                }
                            }

                            .imgUpload{
                                width: $width;
                            }

                            .myvideo{
                                width: $width;
                                margin-top: -105px;
                            }

                            .buttonActionApp{
                                top: -100px;

                                .action-app{
                                    .take-photo{
                                        .take-photo-img{
                                            left: 430px;
                                        }

                                        .startbuttonUpload{
                                            top: 95px;
                                            left: 400px;
                                        }
                                    }
                                }

                                .upload-app{
                                    .input-file-container{
                                        right: 385px;

                                        .input-file-trigger{
                                            //top: 100px;
                                        }

                                        .back-to-video{
                                            top: 40px;
                                            left: 125px;
                                        }
                                    }
                                }
                            }

                            .chooseFilter{
                                bottom: 150px;
                            }

                            &.upload {
                                height: 855px;
                                .buttonActionApp{
                                    .upload-app{
                                        .input-file-trigger{
                                            top: 100px;
                                        }
                                    }
                                }
                            }

                            &.active{
                                height: 855px;
                            }

                            &.enlarge{
                                .myvideo{
                                    margin-bottom: 0px;
                                }
                            }

                            &.upload.active{
                                height: 855px;
                            }
                        }

                        .prev-img-container {
                            .prev-img {
                                max-height: 857px;
                            }
                        }

                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 2035px) {
    $width: 1000px;
    $height: 825px;
    
    @keyframes explode {
        0% {
            height: 0px;
        }
        25% {
            height: 23px;
        }
        50% {
            height: 40px;
        }
        100% {
            height: 52px;
        }
    }
    
    html{
        overflow-x: hidden;
    }
    
    body {
        width: 105%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    .site-container{
        .site-pusher{
            .post{
                .elems-app{
                    .video-containter{
                        .container-all-filters{
                            margin-left: 4%;
                            margin-right: 0px;
                            
                            .filters{
                                width: 260px;
                                
                                .filterHideButton{
                                    .filters__icon{
                                        margin-left: 30px;
                                    }
                                }
                                
                                .menu2{
                                    .filters-button{
                                        .button{
                                            width: 255px;
                                            font-size: 30px;
                                            height: 52px;
                                            padding-top: 10px;
                                        }
                                    }
                                }
                            }
                            
                            .objets-filter{
                                width: 260px;
                                
                                .objHideButton{
                                    .objets__icon{
                                        margin-left: 30px;
                                    }
                                }
                                
                                .menu-objets{
                                    .objets-button{
                                        max-height: 645px;

                                        .button{
                                            width: 255px;
                                            font-size: 30px;
                                            padding-top: 30px;
                                            height: 52px;
                                        }
                                    }
                                }
                            }
                        }
                        
                        .booth{
                            width: $width;
                            height: $height;
                            
                            .container-enlarge{
                                width: $width;
                                height: $height;
                                
                                .img-enlarge{
                                    width: $width;
                                    height: $height;
                                }
                                
                                .close-enlarge{
                                    left: 940px;
                                    
                                    &:hover{
                                        left: 935px;
                                        width: 60px;
                                    }
                                }
                            }
                            
                            .imgUpload{
                                width: $width;
                            }
                            
                            .myvideo{
                                width: $width;
                                margin-top: -105px;
                            }
                            
                            .buttonActionApp{
                                top: -100px;
                                
                                .action-app{
                                    .take-photo{
                                        .take-photo-img{
                                            left: 430px;
                                        }
                                        
                                        .startbuttonUpload{
                                            top: 95px;
                                            left: 400px;
                                        }
                                    }
                                }
                                
                                .upload-app{
                                    .input-file-container{
                                        right: 385px;

                                        .input-file-trigger{
                                            //top: 100px;
                                        }

                                        .back-to-video{
                                            top: 40px;
                                            left: 125px;
                                        }
                                    }
                                }
                            }
                            
                            .chooseFilter{
                                bottom: 150px;
                            }

                            &.upload {
                                height: 855px;
                                .buttonActionApp{
                                    .upload-app{
                                        .input-file-trigger{
                                            top: 100px;
                                        }
                                    }
                                }
                            }

                            &.active{
                                height: 855px;
                            }

                            &.enlarge{
                                .buttonActionApp{
                                    top: -200px;
                                }

                                .myvideo{
                                    margin-bottom: 0px;
                                }

                                .file-upload{
                                    top: -97px;
                                }
                            }
                        }
                        
                        .prev-img-container{
                            margin-right: 4%;
                            margin-left: -2%;

                            .prev-img{
                                width: 245px;
                                margin-left: -320px;
                                max-height: 750px;
                                
                                .container-prev{
                                    padding-top: 10px;
                                    margin-left: -20px;
                                    
                                    img{
                                        width: 218px;
                                    }
                                    
                                    .prev-action{
                                        .see-button{
                                            width: 25px;

                                            &:hover {
                                                width: 35px;
                                                top: -30px;
                                            }
                                        }
                                        
                                        .del-button{
                                            width: 25px;
                                            left: 190px;

                                            &:hover {
                                                width: 35px;
                                                top: -30px;
                                            }
                                        }
                                    }
                                }

                                &.scroll-container-prev{
                                    width: 260px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width: 1740px) {
    $width: 700px;
    $height: 600px;
    
    .site-container {
        .site-pusher {
            .header{
                .menu{
                    font-size: 25px;
                }
            }
            .post {
                .elems-app {
                    .video-containter {
                        .container-all-filters{
                            font-size: 25px;
                            .objets-filter{
                                .menu-objets{
                                }
                            }
                        }

                        .booth {
                            width: $width;
                            height: $height;

                            .container-enlarge{
                                width: $width;
                                height: $height;

                                .img-enlarge{
                                    width: $width;
                                    height: $height;
                                }

                                .close-enlarge{
                                    left: 660px;
                                    width: 20px;

                                    &:hover{
                                        left: 655px;
                                        width: 40px;
                                    }
                                }
                            }

                            .imgUpload{
                                width: $width;
                            }

                            .myvideo{
                                width: $width;
                                margin-top: -218px;
                            }

                            .buttonActionApp{
                                top: -210px;

                                .action-app{
                                    .take-photo{
                                        .take-photo-img{
                                            left: 430px;
                                        }

                                        .startbuttonUpload{
                                            top: 95px;
                                            left: 340px;
                                        }
                                    }
                                }

                                .upload-app{
                                    .input-file-container{
                                        right: 385px;

                                        .input-file-trigger{
                                            //top: 100px;
                                        }

                                        .back-to-video{
                                            top: 40px;
                                            left: 225px;
                                        }
                                    }
                                }
                            }

                            .chooseFilter{
                                bottom: 150px;
                            }

                            &.upload {
                                height: 558px;

                                .buttonActionApp{
                                    top: -97px;
                                    .upload-app{
                                        .input-file-trigger{
                                            top: 100px;
                                        }
                                    }
                                }
                            }

                            &.active{
                                height: 630px;
                            }

                            &.enlarge{
                                height: 600px;

                                .myvideo {
                                    margin-bottom: 0px;
                                }

                                .buttonActionApp{
                                    top: -310px;
                                    .upload-app{
                                        .input-file-trigger{
                                            top: 100px;
                                        }
                                    }
                                }
                            }

                            .chooseFilter{
                                bottom: 255px;
                            }

                            &.upload.enlarge {
                                height: $height + 30px;

                                .file-upload{
                                    top: -210px;
                                }
                            }
                        }

                        .prev-img-container{
                            .prev-img{
                                max-height: 600px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1420px) {
    $width: 500px;
    $height: 435px;
    
    .site-container {
        .site-pusher {
            .post {
                .elems-app {
                    .video-containter {
                        .container-all-filters{
                            .objets-filter{
                                .menu-objets{
                                }
                            }
                        }

                        .booth {
                            width: $width;
                            height: $height;

                            .container-enlarge{
                                width: $width;
                                height: $height;

                                .img-enlarge{
                                    width: $width;
                                    height: $height;
                                }

                                .close-enlarge{
                                    left: 460px;

                                    &:hover{
                                        left: 455px;
                                        width: 40px;
                                    }
                                }
                            }

                            .imgUpload{
                                width: $width;
                            }

                            .myvideo{
                                width: $width;
                                margin-top: -293px;
                            }

                            .buttonActionApp{
                                top: -292px;

                                .action-app{
                                    .take-photo{
                                        .take-photo-img{
                                            left: 170px;
                                        }

                                        .startbuttonUpload{
                                            top: 95px;
                                            left: 340px;
                                        }
                                    }
                                }

                                .upload-app{
                                    .input-file-container{
                                        right: 165px;

                                        .input-file-trigger{
                                            //top: 100px;
                                        }

                                        .back-to-video{
                                            top: 40px;
                                            left: 225px;
                                        }
                                    }
                                }
                            }

                            .chooseFilter{
                                bottom: 150px;
                            }

                            &.upload {
                                height: 445px;

                                .buttonActionApp{
                                    top: -97px;
                                    left: -125px;

                                    .take-photo{
                                        .startbuttonUpload{
                                            left: 365px;
                                        }
                                    }

                                    .upload-app{
                                        .input-file-trigger{
                                            top: 100px;
                                        }

                                    }
                                }
                            }

                            &.active{
                                height: 855px;
                            }

                            &.enlarge{
                                height: 445px;

                                .myvideo{
                                    margin-bottom: 0px;
                                }
                                .buttonActionApp{
                                    .take-photo{
                                        .take-photo-img{
                                            top: 20px;
                                        }
                                    }
                                }
                                .upload-app{
                                    .input-file-container{
                                        top: -79px;
                                    }
                                }
                            }

                            &.upload.active{
                                height: 478px;
                            }

                            &.upload.active.enlarge{
                                .buttonActionApp{
                                    top: -305px;
                                    left: -125px;

                                    .take-photo{
                                        .startbuttonUpload{
                                            top: 20px;
                                            //left: 365px;
                                        }
                                    }

                                    .upload-app{
                                        .input-file-trigger{
                                            top: 100px;
                                        }

                                    }
                                }

                                .file-upload {
                                    top: -282px;
                                }
                            }

                        }

                        .prev-img-container{
                            .prev-img{
                                max-height: 600px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1190px) {
    html{
        overflow-x: hidden;
    }
    
    body {
        height: 160%;
        width: 105%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    .site-container {

        .site-pusher {

            .post {

                .elems-app {

                    .video-containter {
                        .container-all-filters {
                            position: relative;
                            margin: 0% auto;
                            top:525px;
                            left: 200px;
                        }
                        
                        .booth{
                            margin: 0% auto;
                        }

                        .prev-img{
                            margin: 0% auto;
                        }
                        
                        .prev-img-container{
                            position: relative;
                            margin: 0% auto;
                            top: 525px;
                            left:-203px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 910px) {
    .site-container {

        .site-pusher {

            .post {

                .elems-app {

                    .video-containter {
                        .container-all-filters {
                            margin: 0% auto;
                        }
                        
                        .booth {
                            margin: 0% auto;
                        }

                        .prev-img-container{
                            left: -180px;
                        }
                        
                        .prev-img {
                            margin: 0% auto;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 835px) {
    html{
        overflow-y: auto;
    }
    .site-container {

        .site-pusher {

            .post {

                .elems-app {

                    .video-containter {
                        .container-all-filters {
                            left: 10px;
                        }
                        .booth{
                            margin: 0% auto;
                            left: -335px;
                        }

                        .prev-img-container{
                            position: relative;
                            top: 525px;
                            left:-365px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 750px) {
    html {
        height: 300%;
    }
    .site-container {
    
        .site-pusher {
        
            .post {
            
                .elems-app {
                
                    .video-containter {
                        position: relative;
                        .booth {
                            margin: 0% auto;
                            left: -457px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 414px) {
    html {
        height: 200%;
    }
    
    .site-container {
        
        .site-pusher {
            
            .post {
                
                .elems-app {
                    
                    .video-containter {
                        position: relative;
                        .booth {
                            margin: 0% auto;
                            left: -390px;
                        }
                    }
                }
            }
        }
    }
}