@import 'compass';

$color_back: #5e6c78;

body {
  background-color: $color_back;
}

.booth{
  width: 700px;
  height: 600px;
  background: #ccc;
  border: 10px solid #ddd;
  margin: 0px auto;
}

video{
}
