@import 'compass';
@import 'colors';

$menu-width: 250px!default;

html, body {
  height: 100%;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}

.post{
  @include clearfix;
  padding-top: 66px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header{
  top:0;
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  z-index: 10;
  background-color: $color_button;
}

.header__logo{
  font-size: 25px;
  font-weight: bold;
  float: left;
  padding: 0 25px;

  img{
    width: 100%;
  }
}

.menu {
  float: left;

  a {
    padding: 0 10px;
  }
  a:hover{
    color: $color_button_hover;
  }
}

@media only screen and (max-width: 2250px) {
  .menu{

    font-size: 20px;
    float: left;

    a {
      padding: 0 10px;
    }
    a:hover{
      color: $color_button_hover;
    }
  }
}

.elems-app{
  margin-left: 18%;
}

.video-containter{
  display: inline-flex;
  width: 77%;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.booth{
  display: inline-block;
  width: 700px;
  background: rgba($color_back, 0.9);
  border: 10px solid darken($color_back, 5);
  margin: 0px auto;
  z-index: 5;

  hr{
    margin-left: -329px;
    padding-left: 698px;
    color: darken($color_button, 10);
    background-color: darken($color_button, 10);
  }
}

.img-booth, .canvas{
  display: none;
}

video{
  transform: scaleX(-1);
}

@media only screen and (max-width: 750px) {
  video, .booth {
    width: 100%;
  }
  .bienvenue {
    font-size: 15px;
  }
}

.bienvenue {
  text-align: center;
}

.take-photo{
  display: none;
  margin: 0% auto;
  padding: 0;
  width: 40px;
  cursor: pointer;
}

.booth_filter{
  background: rgba(94, 108, 120, 0.9);
  border: 10px solid #535f6a;
  z-index: 5;
  width: 273px;
  height: 600px;
  display: inline-block;
  margin-left: 20%;
  margin-right: 52px;
}

.filters{
  position: relative;
  margin: 0% auto;
  width: 150px;
  a:hover{
    color: $color_button_hover;
  }
  img{
    margin-left: 40px;
  }
}

.menu2{
    display: flex;
  .button2{
    width:280px;
  }
  input{
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.booth_prev{
  background: rgba(94, 108, 120, 0.9);
  border: 10px solid #535f6a;
  z-index: 5;
  width: 273px;
  height: 600px;
  display: inline-block;
  margin-left: 52px;
  margin-right: 20%;
}

.prev-img{
  display: none;
  width:696px;
  overflow-x: scroll;
  overflow-y: hidden;
  background: darken($color_back, 5);
  border: 2px solid darken($color_back, 10);
  padding-top: 20px;

  .container-prev{
    width: 170px;
  }
  img{
    margin-right: 27px;
    margin-bottom: 10px;
  }

  .del-button{
    cursor: pointer;
    display: inline;
    position: relative;
    width: 34px;
    top:-18px;
  }

  .see-button{
    cursor: pointer;
    display: inline-block;;
    margin-left: 19px;
    position: relative;
    width: 40px;
    top:-15px;
  }
}

.filters__icon{
  cursor: pointer;
}

.filters-button{
  .button{
    margin-top: 0;
  }
}

.container-enlarge{
  display: inline-block;
  z-index: 50;
  width:700px;
  height: 525px;

  .close-enlarge{
    position: relative;
    top: -465px;
    left: 648px;
    width: 30px;
    cursor: pointer;
  }

  .img-enlarge{
    margin-bottom: -56px;
  }
}

.objets-filter{
  position: relative;
  margin: 0% auto;
  width: 150px;
  a:hover{
    color: $color_button_hover;
  }
  img{
    margin-left: 30px;
  }
}

.objets__icon{
  cursor: pointer;
  width:100px;
  margin-left:15px;
}

.objets-button{
  .button{
    margin-top: 0;
  }
}

@import "menuResponsive";



