 @import 'compass';
 
 $color : indianred;
 
section p{ 
	padding-bottom: 60px;
}
 .button1 {
	margin: 50px;
	input {
		&:hover{
			opacity: .8;
		}
		cursor: pointer;
		width: 35%;
		background: $color;
		color: #FFF;
		text-decoration: none;
		position: relative;
		font-size: 1.5vw;
		padding: 10px;
		border: solid 1px darken($color, 20);
		@include border-radius(5px);
		@include box-shadow(inset 0px 1px 1px lighten($color, 20));
		@include background-image( linear-gradient(top, $color, darken($color, 10))); 
	}
	input:active{
		opacity: 1;
		 @include background-image( linear-gradient(bottom, $color, darken($color, 10)));
		 @include box-shadow(inset 0px 0px 0px lighten($color, 20));
	}
	input:before{
		content:'';
		background-color: #ccd0d5;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		padding: 8px;
		top: -8px; left: -8px;
		z-index: -1;
		@include border-radius(6px);
		@include box-shadow(inset 8px 1px 1px #909193, 0px 1px 0px #FFF);
	}
}

section p{ 
	padding-bottom: 60px;
}
 .button2 {
	margin: 50px;
	span {
		cursor: pointer;
		width: 35%;
		background: $color;
		color: #FFF;
		text-decoration: none;
		position: relative;
		font-size: 1.5vw;
		padding: 10px;
		border: solid 1px darken($color, 20);
		@include border-radius(5px);
		@include box-shadow(inset 0px 1px 1px lighten($color, 20));
		@include background-image( linear-gradient(top, $color, darken($color, 10))); 
	}
	span:active{
		 @include background-image( linear-gradient(bottom, $color, darken($color, 10)));
		 @include box-shadow(inset 0px 0px 0px lighten($color, 20));
	}
	span:before{
		content:'';
		background-color: #ccd0d5;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		padding: 8px;
		top: -8px; left: -8px;
		z-index: -1;
		@include border-radius(6px);
		@include box-shadow(inset 8px 1px 1px #909193, 0px 1px 0px #FFF);
	}
}
