@import 'compass';

//colors base.scss
$color_text: #f3f3f3;
$hrColor: #F39237;

//background forms-accueil
$color_back: #5e6c78;
$color_text_black: #222222;
$color_input_back: rgba(227, 92, 5, 0.14);
$color_input_text: #006796;

//Colors buttons
$color_button : $hrColor;
$color_button_hover : #e35c05;

//Colors Comments Galerie

$color1CommentRight : rgb(115, 115, 104);
$color2CommentRight : rgb(47, 79, 79);
$colorBackgroundCommentRight : rgba(47, 79, 79, 0.6);
$colorBackgroundCommentRightTop : rgba(115, 115, 104, 0.6);

$color1CommentLeft : rgb(250, 118, 33);
$color2CommentLeft : rgb(243, 146, 55);
$colorBackgroundCommentLeft : rgba(243, 146, 55, 0.6);
$colorBackgroundCommentLeftTop : rgba(250, 118, 33, 0.6);

