@import 'compass';

//colors base.scss
$color_text: #f3f3f3;
$hrColor: #F39237;

//background forms-accueil
$color_back: #5e6c78;
$color_text_black: #222222;
$color_input_back: rgba(227, 92, 5, 0.14);
$color_input_text: #006796;

//Colors buttons
$color_button : $hrColor;
$color_button_hover : #e35c05;
