@import 'compass';
@import 'colors';

$menu-width: 250px!default;

@media only screen and (max-width: 750px) {

  .site-pusher, .site-container{
    height: 100%;
  }

  .site-container{
    overflow: hidden;
  }

  .site-pusher{
    height: 100%;
    @include transition-duration(0.3s);
    @include transform(translateX(0px));
  }

  .bienvenue {
    text-align: center;
  }
  .post{
    padding-top: 0;
    overflow-y: scroll;
    position: absolute;
    top: 66px;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-overflow-scrolling:touch;
  }
  header{
    position: static;
  }
  .header__icon{
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;

    cursor: pointer;

    &:after{
      content: '';
      position: absolute;
      display: block;
      width: 1rem;
      height: 0%;
      top:16px;
      left: 15px;
      @include box-shadow(0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF);
    }
  }

  .menu{
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    width: $menu-width;
    background-color: darken($color_button, 5);
    z-index: 1;

    @include transform(translateX($menu-width * -1));
    a{
      display: block;
      background-color: darken($color_button, 5);
      height: 50px;
      text-align: center;
      line-height: 50px;
      border-bottom: 1px solid $color_button;
    }
  }

  .width--sidebar{
    .site-pusher{
      @include transform(translateX($menu-width));
    }
    .site-cache{
      position: absolute;
      left: 0;
      top:0;
      bottom: 0;
      right: 0;
      background-color: rgba(0,0,0,0.6);
    }
  }
}
