<div id="popup" class="popup">
    <div class="logo-pop">
        <img class="img_logo_Principal" src="https://www.lycee-louis-vincent.fr/images/icons/puddingcam-logo.png" alt="logo">
        <h1>CAMAGRU</h1>
    </div>
    <hr>
    <div id="waiting" class="waiting">
        En attente de confirmation...
        <hr>
    </div>
    <div id="login" class="login">
        Bienvenue ^^login^^
    </div>
    <div id="mail_confirm" class="mail_confirm">
        Un email de confirmation de compte viens de vous etre envoyer a
        l'adresse <div class ="mail">^^email^^</div>
    </div>
    <div id="text" class="text">
        Merci de bien vouloir cliquer sur le lien d'activation <br> se trouvant dans le mail.
    </div>
    <p class="button2" onclick="hidePopup()">
        <a class="button" href="">Fermer</a>
    </p>
</div>
<div id="overlay" class="overlay"></div>